
  .smallCard {
    width: 330px;
    background-color: white;
    height: 70px;
    border-radius: 1px;
    box-shadow: 3px 3px 15px #f1efef;
    display: flex;
    flex-direction: row;
    padding-right: 24px;
    margin: 10;
    margin-bottom: 0px;
    /* justify-content: space-between; */
  }

  .smallCard:hover {
    box-shadow: 3px 3px 15px #cecdcd;
  }

  @media only screen and (max-width: 1000px) {
    .smallCard {
      margin: 200;
      margin-bottom: 20px;
      width: 100%;
    }

  }