
  .smallCard {
    width: 330px;
    background-color: white;
    height: 70px;
    border-radius: 1px;
    box-shadow: 3px 3px 15px #f1efef;
    display: flex;
    flex-direction: row;
    padding-right: 24px;
    /* justify-content: space-between; */
  }