.box {
  padding-bottom: 40px;
  padding-top: 44px;
  border-bottom-width: thin;
  border-bottom-color: #e0e0e0
}

.text {
  font-size: 16px;
  /* margin-left: 20px; */
  font-family: "avenir-light";
}

.numberIcon {
  font-size: 36px;
  font-family: "avenir-heavy";
  color: #e75625;
  margin-bottom: 0px;
  padding-right: 15px;
}

.buttonTypeThree {
  /* margin: 10px; */
  width: fit-content;
  border-radius: 6px;
  border-style: none;
  background-color: #ffffff00;
  color: #e75625;
  border-style: solid;
  border-width: thin;
  border-color: #e75625;
  margin-right: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "avenir-heavy";
  padding: 10px 10px 10px 10px;
}

.buttonTypeThree:hover {
  background-color: #e75625;
  color: white;
  cursor: pointer;
}

.rightButtonContainer {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  .rightButtonContainer {
    display: flex;
    flex-direction: column;
  }
}
